* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url("tirana2.jpg");
  transition: all 3s ease;

  background-size: cover;
}

.page {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 10vw;

  border-right: 1px solid white;
  /* background-color: rgb(65, 60, 53); */
}

.side-nav-icon {
  margin-top: 40px;
  color: rgb(6, 124, 153);
}

.side-nav-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.side-nav-link {
  text-decoration: none;
  color: white;
  writing-mode: vertical-lr;
  margin: 15px;
  padding: 5px;
}

.side-nav-link:hover {
  color: rgb(6, 124, 153);
  border-left: 2px solid rgb(6, 124, 153);
}

.main-area {
  width: 90vw;
  height: 100vh;
  padding: 0 30px;
  /* background-color: aquamarine; */
}

.navbar,
.footer {
  width: 100%;

  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
.navbar div {
  border: 2px solid red;
} */

.search-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 10px 10px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-container input:focus {
  border: 0;
  outline: 0;
}

.search-container i {
  color: white;
}

.search-container button {
  padding: 10px 15px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(6, 124, 153);
}

.links-container i {
  color: #b7f4f7;
}

.menu-btn {
  padding: 1rem;
  color: rgb(6, 124, 153);
}

.showcase {
  width: 100%;

  /* background-color: lightskyblue; */
  display: flex;
}

.showcase-left,
.showcase-right {
  width: 50%;

  /* background-color: lightpink; */
  /* border: 2px solid green; */
  color: white;
  padding-left: 15px;
}

.showcase-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.time {
  display: flex;
}
.infos {
  border-left: 3px solid white;
  padding: 20px;
}

.infos * {
  padding: 5px 0;
}

.link {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
}

.link:hover {
  color: rgb(6, 124, 153);
  border-bottom: 2px solid rgb(6, 124, 153);
}

.location {
  padding-top: 25%;
}

.city {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10%;
  padding-bottom: 7%;
}

.btn-next {
  width: 100%;
  padding: 7px 25px;
  background-color: rgb(6, 124, 153);
  border: 0;
  outline: 0;
  border-radius: 5px;
  margin-top: 50px;
  color: white;
  font-size: 18px;
}

@media (max-width: 699px) {
  .page {
    flex-direction: column;
    width: 100%;
  }
  .side-nav {
    flex-direction: row;
    border-right: none;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }
  .side-nav-links {
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* writing-mode: horizontal-tb; */
  }

  .side-nav-icon {
    margin: 0;
  }
  .side-nav-link {
    padding: 0;
    margin: 0 10px;
    writing-mode: horizontal-tb;
  }

  .main-area {
    width: 100%;
    height: fit-content;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }
  .links-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10%;
    padding-top: 2rem;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase-left {
    width: 100%;
    font-size: 1.5rem;
  }

  .showcase-right {
    width: 100%;
    justify-content: center;
    border-left: none;
    border-bottom: 1px solid white;
    margin-top: 2rem;
  }

  .location {
    padding: 0;
    margin: 2rem 0;
    font-size: 2rem;
  }
  .city {
    padding-top: 1rem;
    font-size: 4rem;
  }
  .infos {
    border-top: 2px solid white;
    border-left: 0;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
  }
}
